In [ ]:
# def program():
#


# def main():
# 	result = program()
#
# if __name__ == '__main__':
# 	main()
#

Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [9]:
def program(x,y):
	if (x*y >= 1000):
		return x+y
	else:
		return x*y

def main():
	x = int(input("An integer please."))
	y = int(input("An integer please."))

	result = program(x,y)
	print(result)

if __name__ == '__main__':
	main()

500

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [20]:
def program(n):
	print(f"Printing current and previous number sum in a range({n})")

	sum = 0

	for num in range(n):
		if num == 0:
			print(f"Current Number {0} Previous Number {0} Sum: {0}")
		else:
			sum += num
			print(f"Current Number {num+1} Previous Number {num} Sum: {sum}")

def main():
	program(10)

if __name__ == '__main__':
	main()

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number 0 Sum: 0
Current Number 2 Previous Number 1 Sum: 1
Current Number 3 Previous Number 2 Sum: 3
Current Number 4 Previous Number 3 Sum: 6
Current Number 5 Previous Number 4 Sum: 10
Current Number 6 Previous Number 5 Sum: 15
Current Number 7 Previous Number 6 Sum: 21
Current Number 8 Previous Number 7 Sum: 28
Current Number 9 Previous Number 8 Sum: 36
Current Number 10 Previous Number 9 Sum: 45

Original String is  pynative
Printing only even index chars
p
n
t
v

In [26]:
def program(word):
	size = len(word)

	for i in range(0, size, 2):
		print(word[i])

def main():
	program("Hello")

if __name__ == '__main__':
	main()

H
l
o

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here, we need to remove the first two characters from a string.
Note: n must be less than the length of the string.

In [30]:
def remove_chars(string, n):

	print(string[n:len(string)])


def main():
	remove_chars("pynative", 4)
	remove_chars("pynative", 2)

if __name__ == '__main__':
	main()

tive
native

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [33]:
def program(list):
	if list[0]==list[len(list)-1]:
		print("True")
	else:
		print("False")

def main():
	numbers_x = [10, 20, 30, 40, 10]
	numbers_y = [75, 65, 35, 75, 30]

	program(numbers_x)
	program(numbers_y)

if __name__ == '__main__':
	main()

True
False

### Write a program to find how many times substring “Emma” appears in the given string.

In [40]:
import re

def program(string):
	pattern = r"Emma"
	occurrences = re.findall(pattern, string)
	return len(occurrences)

def main():
	str_x = "Emma is good developer. Emma is a writer"

	result = program(str_x)
	print(result)

if __name__ == '__main__':
	main()

2

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [48]:
def program(int):
	for i in range(1, int+1):
		for j in range(i):
			print(i, end=" ")
		print()


def main():
	program(5)

if __name__ == '__main__':
	main()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

original number 121
Yes. given number is palindrome number

original number 125
No. given number is not palindrome number

In [55]:
def program(number):
	original_number = number.lower()
	reverse_number = original_number[::-1]

	if (original_number == reverse_number):
		print(f"original number {original_number} \nYes. given number is palindrome number")
	else:
		print(f"original number {original_number} \nNo. given number is not palindrome number")



def main():
	program("125")

if __name__ == '__main__':
	main()

original number 125
No. given number is not palindrome number

In [56]:
def program(list1, list2):
	new_list = [x for x in list1 if x % 2 != 0] + [x for x in list2 if x % 2 == 0]
	return new_list

def main():
	list1 = [10, 20, 25, 30, 35]
	list2 = [40, 45, 60, 75, 90]
	result = program(list1, list2)
	print(result)

if __name__ == '__main__':
	main()

[25, 35, 40, 60, 90]

Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [64]:
def program(integer):
	digits = [int(digit) for digit in str(integer)]
	digits.reverse()

	digits_string = ' '.join(map(str, digits))

	return digits_string


def main():
	result = program(7536)
	print(result)

if __name__ == '__main__':
	main()

6 3 5 7

### Calculate income tax for the given income by adhering to the rules below
Taxable Income	Rate (in %)
First $10,000	0
Next $10,000	10
The remaining	20
Expected Output:

For example, suppose the taxable income is 45000, and the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [65]:
def calculate_tax(income):
	if income <= 10000:
		tax = income * 0/100
	elif income <= 20000:
		tax = (income-10000) * 10/100
	else:
		tax = (income-10000) * 10/100 + (income-20000) * 20/100
	return tax

def main():
	income = 25000
	result = calculate_tax(income)
	print(f"The tax for an income of {income} is {result}")

if __name__ == '__main__':
	main()

The tax for an income of 25000 is 2500.0

1*2 1*3 1*4 1*5
2*2 2*3 2*4 2*5
3*2 3*3 3*4 3*5
1  2 3 4 5 6 7 8 9 10
2  4 6 8 10 12 14 16 18 20
3  6 9 12 15 18 21 24 27 30
4  8 12 16 20 24 28 32 36 40
5  10 15 20 25 30 35 40 45 50
6  12 18 24 30 36 42 48 54 60
7  14 21 28 35 42 49 56 63 70
8  16 24 32 40 48 56 64 72 80
9  18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [76]:
def program(num):
	for i in range(1, 11):
		for j in range(1, 11):
			if j == 1:
				print(f"{i * j:3}", end="")
			else:
				print(f"{i * j:4}", end="")
		print()



def main():
	result = program(10)
	print(result)

if __name__ == '__main__':
	main()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100
None

* * * * *
* * * *
* * *
* *
*

In [81]:
def program():
	for i in range(6,0, -1):
		for j in range(0, i-1):
			print("*", end="")
		print()

def main():
	result = program()
	print(result)

if __name__ == '__main__':
	main()

*****
****
***
**
*

None

Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

In [83]:
import numpy as np

def exponent(base, exp):
	return np.power(base, exp)


def main():
	result = exponent(2, 5)
	print(result)

if __name__ == '__main__':
	main()

32

In [ ]:
def program():



def main():
	result = program()
	print(result)

if __name__ == '__main__':
	main()

In [ ]:
def program():



def main():
	result = program()
	print(result)

if __name__ == '__main__':
	main()

In [ ]:
def program():



def main():
	result = program()
	print(result)

if __name__ == '__main__':
	main()

In [ ]:
def program():



def main():
	result = program()
	print(result)

if __name__ == '__main__':
	main()

In [ ]:
def program():



def main():
	result = program()
	print(result)

if __name__ == '__main__':
	main()